NEXT_PUBLIC_SUPABASE_URL="https://vwskczlxzgokqxmooqxq.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="sb_publishable_pc9dtUp7eoVJ4WzZMhb9NA_opHI1O2K"
OPENROUTER_API_KEY="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"